@import url("https://fonts.googleapis.com/css2?family=Enriqueta&family=Fredoka+One&family=Luckiest+Guy&family=Paytone+One&family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: beige;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  line-height: 1;
}

.container {
  width: 100%;
}

/* Header */

.header {
  width: 100%;
}

.navbar {
  background-color: teal;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navbar h2 {
  font-size: 1.5rem;
  color: #fff;
  font-family: "Fredoka One", cursive;
}
.navbar span {
  color: orange;
}

.navbar-link {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 40%;
}

.navbar-link li a {
  color: #fff1ff;
  font-size: 1rem;
}

.navbar-link li a:hover {
  color: orange;
  border-bottom: 3px solid orange;
}

/* MAIN */
.main {
  width: 90%;
  margin: 100px auto auto auto;
}
.main-sub {
  border: 1px solid black;
  display: flex;
  width: 90%;
  margin: auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

.content h1 {
  font-family: "Enriqueta", serif;
  font-size: 2.5rem;
  padding: 10px;
}

.form {
  background-color: #fff;
  width: 400px;
  height: 320px;
  background-color: beige;
}
.formcol {
  padding-top: 10px;
  margin: auto;
  width: 80%;
}

.formrow {
  display: flex;
  flex-direction: column;
}

.formrow label {
  color: orange;
  padding: 5px;
  font-size: 1.2rem;
}

.formrow input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}
input::-webkit-input-placeholder {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.textarea {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  resize: none;
  overflow-wrap: break-word;
}
textarea::placeholder {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.form .btn {
  width: 100%;
  padding: 7px;
  margin: 20px auto;
  border-radius: 5px;
  background-color: orange;
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff1ff;
  border: none;
  cursor: pointer;
  /* display: block; */
}

.location-map {
  margin-top: 10px;
  overflow: hidden;
  position: relative;
  height: auto;
  width: 300px;
  flex: 1;
}

.location-map iframe {
  position: absolute;
  top: 0;
}

.info {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding-bottom: 20px;
}

.info h3 {
  font-size: 0.9rem;
  line-height: 1.5;
}

.info p {
  font-size: 0.8rem;
}

/* Footer */

.footer {
  grid-area: footer;
  background-color: #404040;
  color: #fff1ff;
  width: 100%;
  text-align: center;
  margin-top: 40px;
  padding: 5px;
}

.social {
  padding: 5px;
  background-color: #404040;
  display: flex;
  justify-content: center;
}

.footer i {
  font-size: 1.3rem;
  padding: 0 5px;
  color: #fff1ff;
}

.hidden {
  display: none;
}
@media screen and (max-width: 1024px) {
  .navbar-link {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .navbar-link {
    position: fixed;
    left: -100%;
    top: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: teal;
    width: 50%;
    transition: 0.4s;
    height: 92vh;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 70%;
  }

  .navbar-link.active {
    left: 0;
  }

  .navbar-link li {
    padding: 20px;
  }

  .navbar-link li a {
    color: #fff1ff;
    font-size: 1.2rem;
  }

  .menu-icon {
    cursor: pointer;
    display: block;
    font-size: 0.8rem;
    color: #fff1ff;
  }

  .form {
    width: 100%;
  }
  .main-sub {
    display: flex;
    flex-direction: column;
    height: 700px;
    justify-content: center;
  }
  .content {
    width: 100%;
    height: auto;
    flex: 1;
  }

  .location-map {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    border: 1px solid black;
    flex: 1;
  }
  .location-map iframe {
    position: absolute;
    top: 0;
  }
}
